<div id="carouselInicio" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselInicio" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselInicio" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselInicio" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000">
            <img src="~/images/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000" >
            <img src="~/images/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Second slide label</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000" >
            <img src="~/images/1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Third slide label</h5>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
            </div>
        </div>
    </div>
</div>

    <div class="mx-auto mb-5" style="width: 70%">
        <h3>
            La primera guardería de día para perros en Carabanchel
        </h3>
    </div>

    <hr class="mx-auto" style="width: 80%; height: 3px; color: #000000" />

    <div class="mt-2 mx-auto row" style="width: 70%">
        <h4 align="left">¿Cómo funciona una guardería para mi perro?</h4>
        <div class="col-7 my-auto">
            <p style="font-size: 20px; text-align: justify">
                El funcionamiento básico de nuestra guardería de día canina es muy similar a una guardería para niños.
                Dejas a tu perro con nosotras cuando no puedes atenderlo. Estará en un lugar donde puede jugar, socializar,
                hacer ejercicio o salir al parque con más amigos mientras tú trabajas.
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/1.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 80%; height: 3px; color: #000000" />

    <div class="mt-2 mx-auto row" style="width: 70%">
        <h4 align="left">¿Por qué una guardería de día para mi perro?</h4>
        <div class="col-7 my-auto">
            <p style="font-size: 20px; text-align: justify">
                Cuando recojas a tu perro de la guardería lo encontrarás relajado y contento tras haber estado todo el día
                jugando con amigos. Disfruta de los beneficios de una guardería canina y no volverás a agobiarte por no haberle
                podido prestar la suficiente atención o sacado a la calle todo lo que necesitaría. Será un perro más feliz.
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/2.jpg" class="w-75" />
        </div>
    </div>

    <hr class="mx-auto" style="width: 80%; height: 3px; color: #000000" />

    <div class="mt-2 mx-auto row" style="width: 70%">
        <h4 align="left">¿Por qué una guardería de día para mi perro?</h4>
        <div class="col-7 my-auto">
            <p style="font-size: 20px; text-align: justify">
                Cuando recojas a tu perro de la guardería lo encontrarás relajado y contento tras haber estado todo el día
                jugando con amigos. Disfruta de los beneficios de una guardería canina y no volverás a agobiarte por no haberle
                podido prestar la suficiente atención o sacado a la calle todo lo que necesitaría. Será un perro más feliz.
            </p>
        </div>
        <div class="col-4">
            <img src="~/images/2.jpg" class="w-75" />
        </div>
    </div>


    ¿Cómo es la guardería?

    Nuestras salas de juego son espaciosas y seguras, en ellas los perros estarán juntos en grupos seleccionados por tamaño,
    temperamento y edad. Un miembro de nuestro equipo de cuidadores de perros estará en todo momento con ellos para guiar los
    juegos y vigilar que ningún perro sea excluido.


    Guardería de día Madrid

    Evaluación indivudual

    El servicio de guardería no es apto para todos los perros. Se hará una evaluación a cada perro que venga a nuestro
    centro para ver si le gusta y se lo pasa bien.

    Una vez comprobado que son aptos y que van a disfrutar con nosotras, se buscará el grupo de compañeros que mejor se acomode
    a sus necesidades por tamaño, edad o energía.

    ¡Harán amigos para toda la vida!

    Horario

    De lunes a viernes de 8 a 20 horas ininterrumpidamente, para que puedas organizarte como necesites.

    Servicio de comedor y medicaciones

    Ofrecemos la posibilidad de darles la comida a medio día, de uno en uno para mayor tranquilidad de tu perro. La comida
    nos la tenéis que facilitar vosotros de su pienso habitual para no causar trastornos gastrointestinales por cambios bruscos
    en la dieta.

    Si tu perro está en tratamiento veterinario y le toca la medicina mientras está con nosotras, no dudes en dejarnos
    la medicación e indicarnos la pauta para que nosotras se la administremos.


    Así que no esperes para contactar con nuestra guardería para perros en Madrid, donde cuidaremos a tu mejor amigo.
    Un equipo experto de cuidadores de perros en Madrid se encargará de todas sus necesidades, ¡estará deseando volver
    al dia siguiente!
