<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto Tajamar (.NET Core) 'TheGuauHouse'">
    <meta name="author" content="Nazaret de la Calle Miján">
    <title>Sign in</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
        @RenderBody()
</body>
</html>