<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Proyecto Tajamar (.NET Core) 'TheGuauHouse'">
    <meta name="author" content="Nazaret de la Calle Miján">
    <title>TheGuauHouse</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="navbar.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">TheGuauHouse</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#minavbar" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="minavbar">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item active">
                        <a class="nav-link" aria-current="page" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Link">Link</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>*@
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="midropdown" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
                        <ul class="dropdown-menu" aria-labelledby="midropdown">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Index">Instalaciones</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Link">Nosotros</a></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Usuarios">Usuarios</a></li>
                        </ul>
                    </li>
                </ul>
                @*<form>*@
                @*<input class="form-control" type="text" placeholder="Search" aria-label="Search">*@
                @*</form>*@
                <a class="nav-link btn btn-outline-light btn-md" asp-controller="Sesion" asp-action="Login">
                    Log in
                </a>
            </div>
        </div>
    </nav>
    <main>
        <div class="starter-template text-center px-3" style="padding-top: 50px">
            @*<h1>Plantilla principal</h1>*@
            @*<div style="background-color: aquamarine">*@
            @*<h3>Zona de vistas:</h3>*@
            @RenderBody()
            @*</div>*@
        </div>
    </main>
    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
        <div class="container">
            <span class="text-muted">&copy; TheGuauHouse 2021</span>
        </div>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
