@{
    Layout = "_LayoutSesion";
}

<main class="form-signin">
    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Inicio</a>
    <form method="post" class="mt-5">
        <img class="mb-4" src="~/images/logo.gif" alt="" width="150" height="150">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <input type="text" name="username" id="inputEmail" class="form-control" placeholder="Nombre de usuario" required autofocus><br />
        <input type="text" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        @*<div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>*@<br />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
    <br />
    <a asp-controller="Sesion" asp-action="Registro" class="btn btn-info">Registar</a>
    <p class="mt-5 mb-3 text-muted">&copy; TheGuauHouse 2021</p>
    <br /><br />
    <h1 style="color: blue">@ViewData["mensaje"]</h1>
</main>
