@{
    Layout = "_LayoutSesion";
}

<h1>Registro</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Nombre</label>
                <input type="text" name="nombre" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Apellidos</label>
                <input type="text" name="apellidos" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <input type="text" name="username" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña</label>
                <input type="text" name="pass" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">DNI</label>
                <input type="text" name="dni" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email" name="email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Teléfono</label>
                <input type="text" name="telefono" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>